@import './variables';

@mixin buttonAllDeals {
    display: block;
            width: 330px;
            margin: auto;
            line-height: 50px;
            border-radius: 5px;
            background: $maincolor;
            font-weight: bold;
            color: white;
            cursor: pointer;
            &:hover {
                background-color: #e8c574;
                transition-duration: 0.5s;
            }
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 1150px;
}
.top-header {
	display: flex;
	width: 98%;
	margin: auto;
	margin-top: 10px;
    max-width: 1230px;
    a {
        text-decoration: none;
        font-size: 14px;
        color: $textcolor;
    }
    .top-header-left{
        width: 87%;
        span {
            width: 1.3px;
            height: 20px;
            background-color: #8888;
            color: $textNormalColor;
            margin: 0 8px;
            display: inline-block;
        }
        .icon-facebook {
            margin: 0 3px;		
            font-size: 17px;
            color: $textNormalColor;
        }
        .icon-instagram {
            font-size: 17px;
            color: $textNormalColor;
        }
    }
    .top-header-right {
        display: flex;
        width: 13%;
        .language {
            margin-top: 7px;
            display: block;
            width: 60%;
        } 
        .user {
            margin-left: 10%;
            display: block;
            font-size: 25px;
            color: #444444;
            width: 30%;
        }
    }
    
}
.backround-menu-header {
    background-color: black;
    width: 100%;
}
.menu-header {
	display: flex;
	width: 98%;
	height: 66px;
    margin: auto;
	background: $textNormalColor;
	margin-top: 10px;
    max-width: 1230px;
    .logo {
        width: 15%;
        img {
            width: 80%;
            height: 70%;
            margin-top: 10px;
        }
    }
    .search {
        display: flex;
        width: 75%;
    }
    .search-control {
        width: 10%;
        display: block;
        margin-top: 15px;
        margin-left: 15px;
        border: none;
        height: 37px;
        border-radius: 5px 0px 0px 5px;
        width: 80px;
        text-align: center;
        background: #EFEFEF;
        a {
            display: block;
            padding-top: 9px;
            text-decoration: none;
            color: $textNormalColor;
            font-size: 15px;
            i {
                margin-left: 25px;
                margin-right: 0px;
            
            
            }
        }
    }
    .search-category {
        margin-top: 15px;
        height: 37px;
        background-color: white;
        width: 700px;
        
        input {
            border: none;
            height: 37px;
            width: 500px;
            margin-left: 10px;
            outline: none;
        
        }
    }
    .search-action {
        display: block;
        margin-top: 15px;
        border: none;
        height: 37px;
        border-radius: 0px 5px 5px 0px;
        width: 50px;
        text-align: center;
        background: $maincolor;
        i {
            padding-top: 9px;
            color: white;
        }
    }
    .cart .cart-shopping {
        display: block;
        font-size: 32px;
        text-decoration: none;
        margin-top: 15px;
        margin-left: 40px;
        color: white;
        position: relative;
        span {
            display: block;
            line-height: 15px;
            width: 15px;
            border: 1px;
            background: $maincolor;
            position: absolute;
            border-radius: 50%;
            font-size: 13px;
            text-align: center;
            right: 22px;
            top: 1px;
        }
    
    }
}
.bottom-header {
	width: 98%;
	margin: auto;
	display: flex;
    justify-content: space-between;
    max-width: 1230px;
    a {
        display: block;
        margin-top: 25px;
        font-weight: bold;
        &:nth-child(1){
            width: 85%;
            color: $maincolor;
        }
        &:nth-child(2) {
            margin-right: 0px;	
            text-transform: uppercase;
            color: #E10B0B;
            text-decoration: none;
            &:hover {
                color: $maincolor;
                border-bottom: 3px solid;
            }
        }
    }
}
.banner {
    width: 98%;
    margin: auto;
    margin-top: 25px;
    max-width: 1230px;
    .banner-thumb img{
        width: 100%;
    }
    .banner-main img {
        width: 100%;
        margin-top: 5px;
    }
    .slide {
        @extend .banner-main;
        position: relative;
        a {
            position: absolute;
            width: 30px;
            background:white;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            color: $textcolor;
            span i {
                margin-top: 6px;
            }
        }
        a.button-left {
            left: -15px;
            top: 227px;
            &:hover {
                background-color: $maincolor;
                transition-duration: 0.5s;
            }
        }
        a.button-right {
            @extend a.button-left;
            left: auto;
            right: -15px;
        }
      }
    
}
.featured-products {
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    
    .featured-products-header {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        h1 {
            padding-top: 36px;
            font-size: 40px;
            padding-bottom: 15px;
            width: 100%;
        }
        a {
            width: 100%;
            @include buttonAllDeals();   
        }
    }
    
}
.featured-products-main {
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    max-width: 1230px;
    
    span.button-1 {
        width: 48px;
        height: 48px;
        position: absolute;
        left: -23px;
        top: 135px;
        border-radius: 100%;
        background-color: #c3c0c0;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: $maincolor;
            transition-duration: 0.5s;
        }
        i {
            margin-top: 15px;
            color: white;
            margin-left: 16px;
        }
    }
    span.button-2 {
        @extend span.button-1;
        left: auto;
        right: -23px;
        i {
            margin-left: auto;
            margin-right: 16px;
        }
    }
    div {
        width: 18%;
        background-color: white;
        border-radius: 0 0 5px 5px;
        border-radius: 5px;
        border: 1px solid #d7d5d5;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        &:hover img {
            
            transform: scale(1.05);
            transition-duration: 0.5s;
        }       
        img {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            
        }
        span.old-price {
            margin-left: 15px;
            text-decoration-line:line-through ;
            color: $textcolor;
        }
        span.price {
            margin-left: 5px;
            font-weight: bold;
        }
    }
    a {
        text-decoration: none;
        color: $textNormalColor;
        font-size: 14.5px;
        &:hover {
            color: $maincolor;
        }
        p {
            width: 95%;
            margin-left: 5px;
            margin-top: 13px;
            margin-bottom: 15px;
        }
    }
}
.season {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1230px;
    .season-1, .season-2 {
        width: 49%;
        margin-top: 30px;
        img {
            width: 100%;
        }
    }
    .season-2 {
        text-align: right;
    }
    .season-3 {
        width: 100%;
        margin-top: 20px;
        img {
            width: 100%;
        }
    }
}
.product-foryou {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    .header-product-foryou {
        margin: auto;
        width: 98%;
        display: flex;
        justify-content: space-between;
        max-width: 1230px;
        .foryou {
            font-size: 35px;
            font-weight: bold;
        }
        .discount {
            margin-top: 10px;
        }
        .showall{
            a {
                color: $textcolor;
                display: block;
                margin-top: 15px;
                text-decoration: none;
                i {
                    margin-left: 10px;
                }
            }
        } 
    }
} 
.ads {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 98%;
    max-width: 1230px;
    img {
        width: 100%;
    }
}
.product-day {
    width: 100%;
    .header-product-day {
        border: 1px solid black;
        margin: auto;
        margin-top: 10px;
        width: 98%;
        display: flex;
        line-height: 45px;
        color: white;
        border-radius: 10px 10px 0px 0px;
        background-color: black;
        max-width: 1230px;
        .left {
            text-transform: uppercase;
            font-weight: bold;
            width: 90%;
            span {
                margin-left: 15px;
            }
        }
        .right {
            
            a {
                color: $textcolor;
                display: block;
                text-decoration: none;
                color: white;
                span {
                    font-style: italic;
                }
                i {
                    margin-left: 10px;
                }
            }
        }
    }
    .featured-products-main {
        margin-top: 20px;
    }
    .shop-all-deals {
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        text-align: center;
        @include buttonAllDeals();
    }
}
.footer {
    width: 100%;
    background-color: #eaeaea;
    margin-top: 50px;
    .main-footer {
        margin: auto;
        width: 98%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        max-width: 1230px;
        div {
            margin-top: 50px;
            width: 18%;
            a {
                text-decoration: none;
                display: block;
                margin-bottom: 15px;
                font-size: 12px;
                color: black;
                text-align: left;
                &:hover {
                    color: $maincolor;
                }
            }
            h3 {
                margin-bottom: 30px;
                text-transform: uppercase;
                font-size: 15px;
                text-align: left;
            }
        }
        .support {
            p {
                font-weight: bold;
                font-size: 13px;
                margin-bottom: 20px;
            }
            
            }
        .payment {
            width: 19%;
        }    
        .network {
            text-align: center;
            margin-left: 15px;
            .social-network {
                margin: auto;
                display: flex;
                margin-left: 15px;
                img {
                    margin-left: 10px;
                }
                .instagram {
                    margin-left: 15px;
                    margin-top: 5px;
                }

            }
        }
        
    }
    .bottom-footer {
        margin: auto;
        padding-top: 40px;
        width: 98%;
        padding-bottom: 40px;
        max-width: 1230px;
        p {
            font-size: 12px;
            width: 45%;
            line-height: 20px;
            span {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}


// pages detail

.detail {
    width: 100%;
    margin: auto;
    margin-top: 25px;
    background-color: #f5f5f5;
    .menu-detail {
        width: 98%;
        margin: auto;
        max-width: 1230px;
        a {
            display: inline-block;
            text-decoration: none;
            color: #9a9a9a;
            line-height: 50px;
            font-size: 14.5px;
            &:hover {
                color: $maincolor;
            }
        }
        span {
            color: #9a9a9a;
            margin-left: 5px;
        }
    }

    .main-detail {
        width: 98%;
        margin: auto;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 44px;
        display: flex;
        max-width: 1230px;
        .other-pictures {
            width: 11%;
            img {
                display: block;
                width: 63%;
                margin-left: 18%;
                margin-top: 20px;
            }
        }
        .main-picture {
            margin-top: 20px;
            width: 41%;
            margin-left: 0px;
            position: relative;
            img {
                width: 100%;
               
            }
            a {
                position: absolute;
                width: 30px;
                background:white;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                color: $textcolor;
                 i {
                    margin-top: 6px;
                }
            }
            a.button-1 {
                left: -15px;
                top: 330px;
                &:hover {
                    background-color: $maincolor;
                    transition-duration: 0.5s;
                }
            }
            a.button-2 {
                @extend a.button-1;
                left: auto;
                right: -15px;
            }
        }
        .infomation-product {
            width: 48%;
            margin-left: 5%;
            margin-top: 20px;
           .name-product {
               .detail-name {
                   height: 100px;
                   display: flex;
                    h3 {
                        width: 75%;
                        font-size: 23px;
                        margin-bottom: 10px;
                    }
                    a {
                        text-decoration: none;
                        display: inline-block;
                        width: 25%;
                        margin-top: 5px;
                        color: $textcolor;
                        i {
                            display: inline-block;
                            width: 13%;
                            font-size: 18px;
                            margin-left: 40%;
                            height: 100%;
                        }
                        span {
                            display: inline-block;
                            width: 43%;
                            font-size: 15px;
                            
                        }
                    }
                   
                   
               }
               p {
                font-size: 14px;
                }
            }

            .rating {
                margin-top: 10px;
                i {
                    color: $maincolor;
                    cursor: pointer;
                }
                a.count {
                    text-decoration: none;
                    .count-rating {
                        margin-left: 40%;
                    }
                    span {
                        font-size: 13.5px;
                        color: $textcolor;
                    }
                }
            }

            .price {
                margin-top: 10px;
                .old-price {
                    text-decoration-line:line-through ;
                    color: $textcolor;
                    margin-left: 15px;
                    font-size: 15px;
                }
                .new-price {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .selection {
                margin-top: 20px;
                .color {
                    h3 {
                        font-size: 17px;
                    }
                    span {
                        display: inline-block;
                        height: 35px;
                        width: 35px;
                        background-color: blanchedalmond;
                        margin-right: 15px;
                        margin-top: 15px;
                        border-radius: 100%;
                        cursor: pointer;
                        &.color-1 {
                            background-color: #212224;
                        }
                        &.color-2 {
                            background-color: #a9a9a9;
                        }
                        &.color-3 {
                            background-color: #483c7c;
                        }   
                    }
                }
                .size {
                    margin-top: 20px;
                    @extend .color;
                    span {
                        border-radius: 6px;
                        height: 40px;
                        width: 40px;
                        background-color: white;
                        border: 0.5px solid #c0bebe;
                        color: $textcolor;
                        text-align: center;
                        padding-top: 10px;
                    }
                } 
                .size-guide {
                    margin-top: 20px;
                    color: $textcolor;
                    cursor: pointer;
                    i {
                        font-size: 17px;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 13px;
                    }
                }
                .count {
                    h3 {
                        display: inline;
                        font-weight: 600;
                        margin-right: 15px;
                    }
                    @extend .color;
                    span {
                        border-radius: 6px;
                        height: 33px;
                        width: 33px;
                        text-align: center;
                        padding-top: 6px;
                        font-weight: 550;
                        border: 0.5px solid #c0bebe;
                        background-color: white;
                        font-size: 18px;
                    }
                }
            }
            .cart {
                display: flex;
                a{
                    @include buttonAllDeals();
                    text-decoration: none;
                    margin-left: 0px;
                    margin-top: 30px;
                    text-align: center;
                    width: 75%;
                    line-height: 60px;
                    background-color: black;
                    text-transform: uppercase;
                    transition-duration: 0.2s;
                    margin-right: 20px;
                }
                i {
                    font-size: 36px;
                    width: 60px;
                    height: 60px;
                    background-color: white;
                    border: 0.5px solid $textcolor;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 12px;
                    margin-top: 30px;
                    cursor: pointer;
                    &:hover {
                        background-color: $maincolor;
                        transition-duration: 0.2s;
                    }
                }
               
            }
        }
    }

    .detail-product {
        width: 98%;
        background-color: white;
        margin: auto;
        margin-top: 30px;
        display: flex;
        max-width: 1230px;
        h4 {
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 15px;
        }
        .detail-product-left {
            width: 76%;
            padding-top: 20px;
            h4 {
                margin-left: 17px;
            }
            p {
                margin-left: 17px;
                font-size: 14.5px;
                line-height: 20px;
                color: #666666;
            }
        }
        .detail-product-right {
            margin-left: 5%;
            width: 19%;
            padding-top: 20px;
            div {
                width: 100%;
                background-color: white;
                border-radius: 5px;
                border: 1px solid #d7d5d5;
                margin-bottom: 20px;
                padding-bottom: 5px;
                position: relative;
                overflow: hidden;
                &:hover img {
                    
                    transform: scale(1.05);
                    transition-duration: 0.5s;
                }
                &:hover p {
                    color: $maincolor;
                }       
                img {
                    width: 100%;
                    border-radius: 5px 5px 0px 0px;
                    
                }
                a {
                    text-decoration: none;
                    color:$textcolor;
                }
                p {
                    margin: 15px 6px;
                    font-size: 13px;
                }
                span {
                    margin-left: 15px;
                }
                span.new-price {
                    font-weight: bold;
                    font-size: 18px;
                }
                span.old-price {
                    text-decoration-line:line-through ;
                }
                span.sale {
                    position: absolute;
                    display: block;
                    height: 35px;
                    width: 36px;
                    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
                    background-color: #d71414;
                    top: 0px;
                    left: -15px;
                    color: white;
                    padding-top: 5px;
                    padding-left: 5px;
                    font-weight: 600;
                    font-size: 13px;
                }
            }
        }
    }
}

.other-products, .similar-product {
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 20px;
    .header-other-products {
        width: 98%;
        margin: auto;
        display: flex;
        margin-bottom: 20px;
        max-width: 1230px;
        h3 {
            width: 70%;
            text-transform: uppercase;
            font-size: 16px;
        }
        a {
            display: inline-block;
            width: 30%;
            text-decoration: none;
            color: $textcolor;
            span { 
                display: inline-block;
                margin-left: 70%;
            }
            i {
                display: inline-block;
                margin-left: 5px;
                
            }
        }
    }
    .main-other-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 98%;
        margin: auto;
        padding-bottom: 35px;
        max-width: 1230px;
        div {
            width: 19%;
                background-color: white;
                border-radius: 5px;
                border: 1px solid #d7d5d5;
                margin-bottom: 20px;
                padding-bottom: 5px;
                position: relative;
                overflow: hidden;
                &:hover img {
                    
                    transform: scale(1.05);
                    transition-duration: 0.5s;
                }
                &:hover p {
                    color: $maincolor;
                }              
                img {
                    width: 100%;
                    border-radius: 5px 5px 0px 0px;
                    
                }
                a {
                    text-decoration: none;
                    color:$textcolor;
                }
                p {
                    margin: 15px 6px;
                    font-size: 14.5px;
                }
                span {
                    margin-left: 15px;
                }
                span.new-price {
                    font-weight: bold;
                    font-size: 18px;
                }
                span.old-price {
                    text-decoration-line:line-through ;
                }
                span.sale {
                    position: absolute;
                    display: block;
                    height: 35px;
                    width: 36px;
                    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
                    background-color: #d71414;
                    top: 0px;
                    left: -15px;
                    color: white;
                    padding-top: 5px;
                    padding-left: 5px;
                    font-weight: 600;
                    font-size: 13px;
                }
        }
    }
}
.similar-product {
   background-color: white;
}

